.logo-container {
  z-index: 0; // both logo and svg
  width: 390px;
  height: 750px;
  position: absolute;
  top: 0;
  right: -15%;
  bottom: 0;
  left: auto;
  margin: auto;
  fill-opacity: 0;

  svg {
    //width: 100%; //svg
    width: 10%;
    height: auto;
    bottom: 0;
    transform: rotate(0deg) !important;
    //transform: rotateZ(31deg) !important;
  }

  .solid-logo {
    position: absolute; // logo
    top: 200px;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(0.4deg) !important;
    z-index: 1;
  }
}

.svg-container {
  stroke: rgb(229, 255, 0);
  stroke-width: 10;
}
